@media (max-width: 9990px) {
    
    .nav-list {
        border-radius: 0.5rem;
        position: fixed;/* Fixa a barra lateral para evitar que role para fora da tela */
        top: 8vh;
        right: 0; /* Começa do lado direito */
        width:  100%; /* Ocupa 100% da largura da tela por padrão */
        max-width: 300px; /* Limita a largura máxima da barra lateral */
        height: 100vh; /* Ocupa toda a altura da tela */
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /* espaçamento igual entre elementos, tanto horizontal quanto vertical */
         padding-top: 8vh; /* Espaço superior para evitar sobreposição com o cabeçalho */
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        opacity: 0; /* Começa invisível */
        gap: 0;

    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        gap: 0;
    }

    .nav-list.active {
        opacity: 1; /* Torna visível quando ativo */
        transform: translateX(0); /* Mostra a barra lateral */
    }

    .nav-list li.active{
        opacity: 1;
    }
    .nav-list.active li {
        animation: navLinkFade 0.5s ease-in-out forwards;
    }
    /* Animação dos links da navbar */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 4;
        transition: opacity 0.3s ease-in-out;
    }
    .background.active {
        opacity: 1;
        visibility: visible;
    }
}